<!--TODO: Look to abstract the layout in to a template and/or module -->
<app-toolbar></app-toolbar>
<mat-sidenav-container class="sidenav-container" role="main">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [fixedInViewport]="(isHandset$ | async)"
               [opened]="(isHandset$ | async) === false">
    <mat-sidenav-content>
      <div class="content">
        test
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav>
</mat-sidenav-container>

